In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

1.We are going to explore the top 100 movie releases of 2017 using the dataset here:

http://www.boxofficemojo.com/yearly/chart/?yr=2017&p=.htm

First, read in the 100 movie table using pd.read_html.

In [29]:
#insert 1

2.Only rows 6 through 106 and the odd columns 1,3,5 and 7 contain valuable info that we will use. Save this reduced table to a dataframe called movies. (Hint: you can use iloc.) Then reset the index. Be sure the changes save!

In [30]:
#insert 2

3.Rename the columns to be movie, total gross, opening gross, open date.

In [31]:
#insert 3

4.You can strip the dollar signs and commas from the total gross using list comprehensions. Study the code carefully below and run it:

In [5]:
movies['total gross'] = [x.strip('$') for x in movies['total gross']]
movies['total gross'] = [x.replace(',', '') for x in movies['total gross']]

5.Strip the dollar signs from the open gross column using a similar list comprehension.

In [6]:
#insert 5

6.Change the gross columns to integer data types.

In [32]:
#insert 6

7.Plot total gross on the x axis and open gross on the y-axis.

In [33]:
#insert 7

8.Create another column called ratio that is given by the opening gross divided by the total gross. Do it in one line.

In [34]:
#insert 8

9.Sort the ratio from smallest to largest to find the biggest "sleeper" hit (meaning, the movie that didn't make that much in its opening weekend but made a lot of money later.)

In [35]:
#insert 9

10.Plot a histogram of the ratios. Make the rwidth by 0.9 and make the bins start at 0 and end at 1 in increments of 0.1. Label the axes.

In [36]:
#insert 10

11.Update the open date column to include the year 2017. For example, the string 06/22 should become the string 06/22/2017. You can do this in one line.

In [37]:
#insert 11

12.Use the built-in pandas datetime capability to convert the opening date column to a datetime object in one line.

In [10]:
#insert 12

13.Make another column called "open month" that just includes the opening month of the opening date. Use pandas datetime to do this in one line. Hint - google the following search term:

python pandas extract year from datetime

In [11]:
#insert 13

14.Create a frequency table (not a graph) to find the most popular month for blockbuster hits.

In [38]:
#insert 14

15.Create a histogram of the months. Make the rwidth be 0.9 and the bins start at 0.5 and end at 13.5 in increments of 1.

In [39]:
#insert 15

16.Okay. Now we're going to add director info to our dataframe, which wasn't included on the website up above. Create an empty string column for the director in your dataframe called "director".

In [40]:
#insert 16

17.Go to the website http://www.boxofficemojo.com/yearly/chart/?yr=2017&p=.htm . Find the XPath of the first movie name listed. Copy and paste the XPath link below:

In [41]:
#insert 17

18.Use Selenium to click on the movie name link and then print the director's name below.

In [42]:
#insert 18

19.Okay, so we'll want to iterate through all of the movies in the list located at http://www.boxofficemojo.com/yearly/chart/?yr=2017&p=.htm , click on their links, and save their directors. But we may run into a problem. Write the XPaths of the first and second movies in the list below. Is it the same as the first? If not, what is different?

In [108]:
#insert 19

20.To get around this, we actually won't search by the exact XPath, because that is too specific. Right click and then inspect the first movie in the list again. You should see:

href="/movies/?id=starwars8.htm"....

The id will change from one movie to another but all of them start out as: 

href="/movies/..."

How do we search for this part? We can use "contains" to type:

movie_infos = driver.find_elements_by_xpath( '//a[contains(@href, "/movies/")]')

Note: The command above is PLURAL ("find_elements" instead of find_element.") This list will contain ALL of the movies, so you will need a loop to iterate through each movie.

Second note: You'll want to save the HREF of each movie to a list called urls. Hint: look back to the get_attribute command in the Unit 11 Assignment if you forget how to do this.

In [28]:
#insert 20

21.The first url found is not actually the first movie in the list. Delete this first unnecessary url from the list.

In [14]:
#insert 21

22.Use Selenium to go to visit the first URL in your updated list of urls and print the director that you find from it.

In [43]:
#insert 22

23.Iterate through all of the urls in your list, finding each director. As you iterate through the list, immediately update your dataframe to include the director in the director column. 

First hint: Remember you can update the dataframe entry by typing something like:

movies['director'][i] = director name

**Second hint: One of your urls might mess up. Insert a try/except in order to try to get the director name, but if it fails, print the movie and the url that gave you the error.**

**Third hint: you'll notice that some of the XPaths end in "td[2]/font/a" and some end in just "td[2]/font". MAKE SURE YOUR XPATH SEARCH TERM ENDS IN SIMPLY "td[2]/font" or else you'll miss a lot of the movies.**

**Fourth hint: The boxofficemojo website will stop working after 20 hits or so because it knows that you are scraping it so it begins throttling you. To overcome this problem, put a 5 second sleep timer between each website hit and then return to your computer in 15 minutes or so.**

In [44]:
#insert 23

24.What is the url that messes up? Go to its link to investigate why. Describe the error below.

In [ ]:
#insert 24

25.You definitely won't want to run the above code again because it takes so long. Pickle your dataframe so you can work with it later. If you forget how to pickle, go to the bottom of the Unit 8 Assignment.

In [19]:
#insert 25

25.Read the dataframe back in (and call it movies again) from the pickle file to make sure it saved correctly.

In [45]:
#insert 25

26.Drop the movies from the dataframe that didn't have a director listed. (Note: You won't be able to use dropna since technically none of the entries are null since you initialized them all to be an empty string ''. However, you can exclude those entries from the dataframe using an expression that involves a "!=" symbol.

In [46]:
#insert 26

27.Re-pickle your dataframe so that your changes are saved.

In [23]:
#insert 27

28.Use value_counts in decending order on the director dataframe to view which director had the most top 100 movies in 2017.

In [47]:
#insert 28

29.Print all of the movie info for the movies that this director made.

In [48]:
#insert 29